@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,600;1,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    /* color */
    --colorPrimary: #0d263b;
    --colorSecondary: #696969;

    /* background */
    --backgroundPrimary: #0061df;

    /* padding */
    --padding: 0 120px;
}


.payment-radio-btn1 {
    position: absolute;
    width: 406px;
    height: 64px;
    left: 10px;
    top: 128px;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 6px;
    display: flex;
}

/* radio */

* {
    box-sizing: border-box;
}



form {
    max-width: 40rem;
}

form>*+* {
    margin-top: 1rem;
}

fieldset>*+* {
    margin-top: 0.75rem;
}

fieldset {
    padding: 1.5rem;
}

.group {
    display: flex;
    align-items: center;
}

label {
    margin: 0 0.5rem;
}

input:is([type="checkbox"], [type="radio"]) {
    -webkit-appearance: none;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid grey;
    transition: background-color 300ms, border-color 300ms;
    background-image: url(../assets/cursor.svg);
    background-repeat: no-repeat;

}



input:is([type="checkbox"], [type="radio"]):checked {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='-10 -10 64.56 64.56'%3E%3Cpath d='M23.297 38.74a6.563 6.563 0 0 1-10.16.499L1.308 26.112a5.083 5.083 0 1 1 7.551-6.805l8.369 9.288a.617.617 0 0 0 .956-.047L35.386 5.217a5.083 5.083 0 1 1 8.181 6.032L23.297 38.74z'/%3E%3C/svg%3E"), #ffffff;
    background-repeat: no-repeat;
}

input:is([type="radio"]) {
    border-radius: 50%;
}

/* 2 */
.payment-radio-btn1 {
    position: absolute;
    width: 406px;
    height: 64px;
    left: 10px;
    top: 128px;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 6px;
    display: flex;
}

/* radio */
